*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.navbar{
  display: flex;
  height: 10vh;
  width: 100%;
  background: rgb(136, 130, 54);
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.list-style{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list-style li{
  font-size: 20px;

}

.list-style li a{
  color: white;
  text-decoration: none;
  margin: 0 40px;
  transition: .3s;
}

.list-style li a:hover{
  color: tomato;
}



.simbol{
 display: none; 
 text-align: center;
 position: absolute;
 right: 20px;
}


.simbol i {
  color: white;
  font-size: 32px;
  cursor: pointer;
  transition: .5s;
}

.simbol i:hover{
  transform: rotate(-180deg);
}


    /*  B R E A K */


 .nav-hide{
   height: 32vh;
   width: 100%;
   background: rgb(136, 130, 54);
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
   z-index: 4;
   transform: translateY(-150%);
   position: absolute;
   transition: .3s ease-in-out;
   
 }   

 .nav-hide li{
   list-style: none;
   padding: 0 0 25px 0;
 }


 .nav-hide li a{
   font-size: 25px;
   color: white;
   text-decoration: none;
   transition: .3s;
 }

 .nav-hide li a:hover{
   color: tomato;
 }



    /*  B R E A K */



 @media (max-width: 750px) {
   .list-style{
     display: none;
   }
   .simbol{
     display: block;
   }

   .add-class{
     transform: translateY(0%);
   }
  

  
 }


    /*  B R E A K */
  

 .head-wrap{
   height: 100vh;
   width: 100%;
   background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('images/simply.jpg')center/cover no-repeat;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: center;
 }

 .head-wrap h2{
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  color: white;
  opacity: 0.96;
  margin-bottom: 40px;
  letter-spacing: 10px;
}

.head-wrap p{
  font-size: 1.2rem;
  color: white;
  opacity: 0.95;
  letter-spacing: 2px;
  word-spacing: 4px;
  text-transform: uppercase;
}

.head-wrap a {
  font-size: 60px;
  color: white;
  opacity: .4;
  padding-top: 30px;
  transition: .2s;
}

.head-wrap a:hover{
  opacity: 1;
  transform: scale(1.1);
}
 
.anim {
  background: transparent;
  overflow: hidden;
}

.anim h2 {
  transform: translateY(140%);
  display: inline-block;
}


    /*  B R E A K */


    .menu-section{
      width: 100%;
      min-height: 100vh;
      background: rgb(244, 247, 229);
      display: flex;
      flex-direction: column;
     
    }
    
    .section-center{
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }
    
    .menu-item{
      display: flex;
      padding: 20px 70px;
    }
    
    
    .tittle{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
    
    .menu-section h2{
     font-size: 30px;
    }
    
    .underline{
      height: 1.5px;
      width: 150px;
      background: #11490a52;
    }
    
    
    .photo{
      width: 300px;
      height: 180px;
      border: 1px solid  #11490a52;
      border-radius: 7px;
    
    }
    
    .item-info{
     margin-left: 20px;
    }
    
    .menu-section header{
      display: flex; 
      justify-content: space-between;
      border-bottom: 1px solid #11490a52;
      padding-bottom: 10px;
    }
    
    .menu-section header :nth-child(1) {
      font-size: 16px;
      text-transform: capitalize;
    }
    

    .item-text{
      margin-top: 50px;
    }
    
    .btn-container{
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
    .btn-container .filter-btn{
      font-size: 17px;
      padding: 0.2rem 0.4rem;
      margin: 6px;
      cursor: pointer;
      background: transparent;
      color: #27360e;
      border-radius: 7px;
      border: 1px solid #27360e;
      transition: .3s;
      outline: none;
      text-transform: capitalize;
    }
    
    .btn-container .filter-btn:hover{
     background: #27360e;
     color: white;
    }


    
@media (max-width: 1280px) {
  .section-center{
      display: flex;
      flex-direction: column;
      
  }

  .menu-item{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .item-info{
    margin-left: 0px;
   }
 .menu-section header{
    padding: 10px 0 2px 0;
    display: flex;
    justify-content: space-between;

  }
  .menu-section header :nth-child(1) {
    font-size: 1.1rem;
    
  }

  .item-text{
    margin-top: 10px;
    text-align: center;
  }

}



@media (max-width: 450px) {
  .btn-container .filter-btn{ 
    font-size: 12px;
  }

  .head-wrap h2{
    font-size: 50px;
  }

  .head-wrap p{
    font-size: 12px;
  }
  .head-wrap i{
    font-size: 50px;
  }
  .nav-hide li a{
    font-size: 18px;
  }

}


    /*  B R E A K */
  


    .story{
      width: 100%;
      background: rgb(244, 247, 229);
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 100px 0;
    }


    .arrow{
      width: 60%;
      height: 100%;
      background: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
     
    }

    .paralax{
      background: url('images/chef.jpg') center/cover no-repeat;
      
    }

    .text-paralax{
      display: flex;
      justify-content: center;
      text-align: left;
      font-size: 1.4rem;
      font-family: 'Amatic SC', cursive;
      line-height: 50px;
      word-spacing: 8px;
      letter-spacing: 1px;
      padding: 10px;
    }



    /*  B R E A K */


    .footer{
      width: 100%;
      background: rgb(197, 193, 133);
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
    }

    .left-info{
      display: flex;
      align-items: center;
    }

    .left-info ul{
      display: flex;
      list-style: none;
      
    }


    .left-info ul li a{
      padding: 0px 10px;
      text-decoration: none;
      color: rgb(32, 32, 32);
      font-size: 17px;
      text-transform: uppercase;
      transition: .3s;
    }

    .left-info ul li a:hover{
      color: black;
      border-bottom: 1px solid rgb(105, 103, 103);

    }




    .right-info{
      display: flex;
      align-items: center;
    }

    .right-info a{
      padding: 0 35px;
      font-size: 25px;
      color: rgb(63, 62, 62);
      transition: .4s;
    }

    .right-info a:hover{
      color: black;
    }


    .right-info p{
      padding-right: 20px;
      font-size: 18px;
    }

  

    @media (max-width: 1300px) {
      .arrow{
        display: flex;
        flex-direction: column;
        width: 50%;
      }
      .paralax{
        height: 600px;
        width: 100%;
        
      }
      .text-paralax{
        font-size: 15px;
        line-height: 30px;
      }




      .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .left-info{
        padding: 0 0 8px 0;
      }

      .left-info ul li a{
        padding: 0 8px;
      }

      .right-info a{
        padding: 0 25px;
      }



    }


    @media (max-width: 850px) {
      .paralax{
        height: 300px;
        width: 100%;
        
      }
    }
     

    @media (max-width: 600px) {
      .arrow{
        width: 70%;
      }

    }


    @media (max-width: 400px) {
      .left-info ul li a{
        font-size: 13px;
        padding: 0 5px;
      }

      .right-info a, .right-info p{
        font-size: 13px;
        padding: 0 7px;
      }

      .story p{
        font-size: 0.8rem;
      }

      .arrow{
        width: 80%;
      }


    }

   